<p>Wilkommen zum LPIC Lerning Center!</p>
<p>In der Navigationsleiste am oberen Rand des Bildes findest du dieverse Oprionen anhand derer du die Fragen des Offiziellen Fragenkataloges lernen kannst</p>
<p>Lernen: Hier findest du einen Überblick über den gesamten Fragenkatalog. Mit anklicken einer Frage kannst du dir Details, wie die zugehörigen Antwortmöglichkeiten und Lösungen, anzeigenlassen</p>
<p>Check: ist ein Modus zum einprägen der Fragen. Beantwortest du eine Frage falsch, springst du zurück und musst es erneut versuchen. Schaffst du es ohne sieben Fehler?</p>
<p>Examen: Simuliert das Examen!</p>
